
h3 {
    background-color: lightgray;
    border: solid 1pt black;
}

table {
    background-color: white;
    border: solid 1pt black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 1em;
    border: solid 1pt black;
}
