body {
    background-color: lightgrey;
}
table {
    background-color: white;
    border: solid 1pt black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 1em;
    border: solid 1pt black;
}
